.DS_Store
npm-debug.log
user_data_highest_beaten_level
bundler/node_modules
.vscode
bundler/Gravitron.app
bundler/Gravitron.zip
user_data_gravitron_data
_build
*.iml
*.apk
android/app/build
android/build
.gradle
.idea
ios/Build
*.xcuserdatad
android/local.properties
keystore.properties
public/assets
android/app/src/main/assets
test.exe*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.merlin
*.install
*.coverage
*.sw[lmnop]


_doc/
_coverage/
_opam/

odoc.css
bench.tsv
_esy
node_modules
lib/bs
.merlin
.bsb.lock
.melange.eobjs
